<div class="home-page mat-elevation-z8">
  <div class="banner-container">
    <app-banner></app-banner>
  </div>
  <div class="container-page mat-elevation-z4">
    <div class="row">
      <div class="col-md-9">
        <mat-card class="flow-togglers-card">
          <mat-card-title>Flow Togglers</mat-card-title>
          <mat-card-content>
            <app-flow [apiUrl]="apiUrl"></app-flow>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="popular-tags-card">
          <mat-card-title>Popular Tags</mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class="home-page">
  bannerr
  <div class="container-page">
    <div class="row">
      <div class="col-md-9">
        FlowTogglers
        <app-flow [apiUrl] ></app-flow>
      </div>
      <div class="col-md-3">POPULAR TAGS</div>
    </div>
  </div>
</div> -->
