.home-page {
  margin: 20px;
}

.container-page {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-9 {
  flex: 0 0 80%;
  max-width: 80%;
  padding: 10px;
}

.col-md-3 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 10px;
}
