.data-preview {
  margin-bottom: 20px;
}

.article-card {
  margin-bottom: 20px;
}

.error-card {
  color: red;
  margin-bottom: 20px;
}

.preview-link {
  text-decoration: none;
  color: inherit;

  h1 {
    font-size: 1.5em;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
